
      


body {
    height: 102%;
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    position: relative;
    border-right: 70px solid black;
    border-left: 70px solid black;
    }  


  h1 {
    
    float:left;
    background-color:#4aaaa5;
    text-align: center;
    margin-left: 110px;
    margin-bottom:0px;
    margin-top:0px;
    padding:15px 15px 15px 15px;
    
}


.A{
     border: 2px solid grey;
     padding:220px 200px  220px 105px;
     background-color: #cccccc;
     border-bottom-color:#4aaaa5;
     border-bottom-width: 10px;
     clear: left;
     height:102px;
     
    }
 
 .about {
     border: 2px solid #cccccc;
     background-color:white;
     width:960px;
     padding: 15px 20px 15px 20px;
     margin-top:-190px;
     height:400px;
     
    }

 
 img {
     float:left;
     padding-right: 20px;
 }
 
 h2{
     border-bottom: 2px solid #cccccc;
     color: #4aaaa5;
     padding-bottom: 20px;
 }
 
 nav{
     list-style-type:none;
     float: right;
     margin-bottom:0px;
     margin-top: 30px;
     margin-right: 100px;
 }
   li{
       display: inline;
   }
 
 footer{
     background-color:#666666;
     text-align: center;
     color:#cccccc;
     border-bottom-width:30px;
     height:23px;
     padding-top:50px;
     margin-bottom:0px;
    
    
 }
 
 .E{
     background-color: white;   
     margin-top:-190px;
     height:350px;
     padding: 15px 20px 15px 20px;
     width: 960px;
 }

 form{
     margin-left: -40px;
 }
    input{
      width: 955px;
 }

   .Line-Height {
     line-height: 120px;
     
 }
 
 text{
    background-color: #4aaaa5;
    padding: 8px 15px 8px 15px;
    color: white;

 }
 

 .G{
     border: 2px solid #cccccc;
     background-color: white;
     height: 420px;
     width: 910px;
     margin-left: 5px;
     padding: 40px 40px 40px 40px;
     margin-top: -200px;
     
  }
 
   .Image5{
      position: relative;
      top: 250px;
      right:670px;
  } 
    .Image5 .Cascadings{
      position: absolute;
      top:70px;
      right:97px;
  }
  
 
  .Image4{
      position: relative;
      left: -235px;
      bottom: -125px;
  }

  .Image4 .ComputerSC{
      position: absolute;
      right: 263px;
      top: 70px;
  }
 
  .Image3 {
      position: relative;
      left: -335px;
      bottom: -125px;
  }

  .Image3 .Javascript{
      position: absolute;
      left: 335px;
      bottom: -98px;
  }
 
  .Image1 {
      position: relative;
    
  }

  .Image1 .Technology{
      position: absolute;
      top: 70px;
      
    }
 
  .Image2{
      position: relative;
      right: -100px;
  }
   .Image2 .DStructure {
       position: absolute;
       right:598px;
       top: 70px;
   }





   @media screen and (max-width: 980px){
       
    body{
        width:100%;
       
     
     
        
    }
    img {
        width:30%;
        padding-bottom:7px;
        
        }
     
    p{
        width:100%;
              
    }
   .A {
       width:120%;
    
       
       
       
   }
   .about{
       width:40%;
       height:auto;
       padding-left:60px;
       margin-bottom:30px;
       padding-bottom:3px;
       margin-left:-80px;
       padding:20px;
 
   }
   h1{
       position:static;
       margin-left:27px;
       }

   footer{
       width:100%;

       
   }

   nav {
       width:18%;
    
       }

       .E {
           width:40%;
           margin-left: -81px;
           
       }
       input {
           width:100%;
       }

       .G{
           width: 30%;
           margin-left:-80px;
           padding:20px;
           padding-bottom:70px;
          
       }

       .Image1{
        width:500px;
           
           
       }
       .Image1 .Technology{
        top:65px;
       }
       
       .Image2{
           right: -10px;
           width:500px;
        
       }
       .Image2 .DStructure{
            right:180px;
            top:65px;

        }

        .Image3{
        width:500px;
        left:1px;
        top:15px;
        }
        
        .Image3 .Javascript{
         left:3px;
         bottom:-210px;
        }

        .Image4{
            width:500px;
            left:10px;
            top:20px;

        }
        .Image4 .ComputerSC{
        top: 185px;
        right: 180px;
        }

       .Image5{
           width:500px;
           top:30px;
           right:-1px;
       }

       .Image5 .Cascadings{
         top:300px;
         right: 355px;
       }
    



}



    




@media screen and (max-width: 768px){
       
    body{
        width:100%;
     
     
        
    }
    img {
        width:40%;
        margin-top:4px;
        height:200px;
        
    }
     
    p{
        width:100%;
        line-height:1rem;
        
         
    }
   .A {
       width:120%;
       padding-right:600px;
       
       height:500px;
       
   }
   .about{
       width:50%;
       height:auto;
       padding-left:60px;
       margin-bottom:30px;
       padding-bottom:3px;
       margin-left:-80px;
       padding:20px;

   }
   h1{
       position:static;
        margin-left: 30px;
   }

   footer{
       width:75%;
       
       
   }

   nav {
       width:40%;
      
       }
      
    

       .E{
           width:50%;
           margin-left: -73px;
       }

       input{
           width:100%;
       }

       .G{
        width:40%;
        margin-left: -80px;
        padding: 20px;
        height:780px;
        padding-right:1px;

        
    }

    .Image1{
       width:80%;
     }

    .Image1 .Technology{
     top:160px;
    }
    
    .Image2{

        width:80%;
        right:-30px;
        
    }
    .Image2 .DStructure{
         right:55px;
         top:165px;

     }

     .Image3{
     width:80%;
     left: 1px;
     top:30px;
     
     }
     
     .Image3 .Javascript{
      left:1px;
      bottom:-400px;
     }

     .Image4{
         width:80%;
         left:30px;
         top:30px;
        
         }

     .Image4 .ComputerSC{
           top: 375px;
           right: 55px;
     }

    .Image5{
        width:80%;
        top:55px;
        right:-1px;
        
        
    }

    .Image5 .Cascadings{
      top:585px;
      right: 225px;
      
    }
 

 }

    








 
   @media screen and (max-width: 640px){
       
       body{
           width:100%;
    
        
           
       }
       img {
           width:100%;
           margin-top:-15px;
           padding-bottom:7px;
           
           
       }
        
       p{
           width:100%;
           line-height:1rem;
           
            
       }
      .A {
          width:120%;
          padding-right:600px;
          height:auto;
          
      }
      .about{
          width:30%;
          height:auto;
          padding:20px;
          margin-left: 20px;
      }
      h1{
          position:static;
          width:65%;
          margin-bottom:50px;
          margin-left: -1px;
      }

      footer{
          width:65%;
          
          
      }

      nav {
          width:65%;
          margin-top:-30px;
      }
        
          .E{
              width:400px;
              margin-left: -40px;
            
          }

          input{
              width:100%;
          }


          .G{
            width: 30%;
            margin-left:-80px;
            padding:20px;
            padding-bottom: 150px;
            height:1000px;
            margin-left:20px;
            padding-right:1px;
        
           
        }

    .Image1{
        width:95%; 
        padding-top:10px;
        
        
     }
     .Image1 .Technology{
      top:150px;
     }

     .Technology{
        letter-spacing: 18px;
    }

     
     .Image2{
         width:95%;
         right:0px;
         top:20px;
     }
     .Image2 .DStructure{
          right:17px;
          top:335px;
          
     }
      
     .DStructure{
        letter-spacing: 18px;
    }

 
      .Image3{
      width:95%;
      left:1px;
      top:40px;
      
      }
      
      .Image3 .Javascript{
       left:0px;
       bottom:-550px;
      }

      .Javascript{
        letter-spacing: 16.5px;
    }
 
      .Image4{
          width:95%;
          left:0px;
          top:60px;
         }

      .Image4 .ComputerSC{
          top: 720px;
           right: 0px;
      }

      .ComputerSC{
          letter-spacing: 20px;
      }
 

     .Image5{
         width:95%;
         top:80px;
         right:-1px;
         
         
     }
 
     .Image5 .Cascadings{
       top:910px;
       right: 1px;
       
     }
      .Cascadings{
        letter-spacing: 20px;
      }
 
  }
 
      
      
      
    

       
